/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
div.viewOrigImage
{
    margin:9px 0 0 0;
    text-align:center;
    font-size:1rem;
}
div.buttonProduct
{
    margin-bottom:13px;
}
div.productList div a img
{
    text-align:center;
    display:inline-block;
    width:125px;
    height:125px;
}
img.mainProdImg
{
    display:inline-block;
    width:250px;
    height:250px;
}
.relatedProduct h4
{
    margin:1rem 0 0.5rem;
}
.productList ul li a
{
    font-size:0.9rem;
}
div.performanceAdFoot
{
    margin:20px auto;

}
li.searchField form
{
    margin:0;
}
p.ajaxLoading
{
    text-align:center;
    margin:10px;
}

div.coupon
{
    border-bottom:1px solid #444444;
    padding:4px 0 6px;
    margin:2px 0 8px;
}

    div.coupon img.merchant
    {
        position:relative;
        display:inline-block;
        
    }

    div.coupon div.couponText
    {
        vertical-align:top;
        
        font-size:1rem;
        padding:0 4px;
        display:inline-block;
        max-width: 620px;
    }

    div.coupondBtn
    {
        vertical-align:top;
        position:relative;
        right:0;
        display:inline-block;
        
        margin: 15px 0 0 10px;
    }

div.foot
{
    padding-top:1rem;
    font-size:0.8rem;
    text-align:center;
}
    div.foot a
    {
        color:#444444;
    }